<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Bem vindo</h2>

    <div> 
        
    </div>
        
    <div>
            
    </div>


</body>
</html>